<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>萝卜大杂烩</title>
</head>
<body>
<h2>欢迎来到萝卜大杂烩的小站</h2>
<p>详细的接口文档还在整理当中，敬请关注。。。</p>
<p>可以扫描关注公众号，第一时间获取更新信息</p>
<img src="{{ url_for('static', filename='img/myqr.gif') }}" width="300" height="300">
<div>
    <p>还可以关注下如下的两个小站</p>
    <p><a href="https://mini.luobodazahui.top/hot_rank/" target="_blank">H5示例网站</p>
    <p><a href="https://nvshen.luobodazahui.top/#" target="_blank">女神大会网站</a></p>
    <p><a href="http://chat.luobodazahui.top/#" target="_blank">在线聊天室</a></p>

</div>
</body>
</html>